.container_fluid {
	padding: 2% 25%;
}

body {
	margin: 0;
	text-align: center;
	font-family: "Montserrat";
}

p {
	line-height: 2;
	font-size: 1.1rem;
}

a {
	color: #99a799;
	font-family: "Montserrat";
	margin: 10px 20px;
	text-decoration: none;
}

hr {
	border-style: none;
	border-top-style: dotted;
	color: rgb(1, 2, 1);
	background-color: #ffffff00;
	border-width: 6px;
	margin: 100px auto 10px auto;
	width: 3%;
}

h1 {
	color: #99a799;
	margin-top: 50px;
	font-size: 7rem;
	margin: 50px auto 0 auto;
	font-family: "Sacramento";
	font-weight: 900;
}

h2 {
	color: #99a799;
	font-size: 2.5rem;
	font-weight: normal;
	font-family: "Montserrat";
	line-height: 2;
	padding-bottom: 20px;
	font-weight: 900;
}

h3 {
	color: #adc2a9;
	font-family: "Montserrat";
}

.cursor {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.top-container {
	position: relative;
	padding-top: 100px;
}

.middle-container {
	margin: 100px 0;
}

.bottom-container {
	padding: 50px 0 20px;
}

.top-cloud1 {
	width: 150px;
	left: -100px;
	right: 500px;
	top: 50px;
	position: relative;
}

.top-cloud2 {
	width: 150px;
	right: -2000px;
	left: 500px;
	top: 150px;
	position: relative;
}

.middle-cloud {
	width: 150px;
	right: 400px;
	position: relative;
}

.bg_colored {
	background-color: #fef5ed;
}

.bottom-cloud {
	top: 100px;
	width: 150px;
	left: 200px;
	position: relative;
}

.ray-img {
	border-radius: 50%;
}

.skill-row {
	padding: 2% 25%;
	text-align: left;
}

.code-gif {
	width: 30%;
	max-width: 200px;
	max-height: 200px;
	float: left;
}

.talk-gif {
	width: 19%;
	max-width: 200px;
	max-height: 150px;
	float: right;
}

.agile-gif {
	width: 19%;
	max-width: 200px;
	max-height: 150px;
	padding-right: 30px;
	float: left;
}

.last-line {
	color: #99a799;
	font-size: 0.75rem;
	padding: 20px 0;
}

.intro {
	margin: auto;
	width: 30%;
}

.contact-mass {
	width: 40%;
	margin: 40px auto;
}

#projects {
	padding-top: 3%;
}

.project-intro {
	padding: 0 500px 0 500px;
}

.project-box {
	padding: 30px 20px;
}

.paw-img {
	width: 50%;
}

.brain-boost-img {
	width: 50%;
}

.game_img {
	width: 50%;
}

.contact-me {
	padding-bottom: 40px;
}

.carousel-control-prev {
	font-size: 40px;
	color: #99a799;
}

.carousel-control-next {
	font-size: 40px;
	color: #99a799;
}

.carousel-control-prev:hover {
	font-size: 40px;
	color: #4e614e;
}

.carousel-control-next:hover {
	font-size: 40px;
	color: #4e614e;
}

.btn {
	background: #adc2a9;
	background-image: -webkit-linear-gradient(top, #adc2a9, #adc2a9);
	background-image: -moz-linear-gradient(top, #adc2a9, #adc2a9);
	background-image: -ms-linear-gradient(top, #adc2a9, #adc2a9);
	background-image: -o-linear-gradient(top, #adc2a9, #adc2a9);
	background-image: linear-gradient(to bottom, #adc2a9, #adc2a9);
	-webkit-border-radius: 8;
	-moz-border-radius: 8;
	border-radius: 8px;
	font-family: "Montserrat";
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #d3e4cd;
	background-image: -webkit-linear-gradient(top, #d3e4cd, #d3e4cd);
	background-image: -moz-linear-gradient(top, #d3e4cd, #d3e4cd);
	background-image: -ms-linear-gradient(top, #d3e4cd, #d3e4cd);
	background-image: -o-linear-gradient(top, #d3e4cd, #d3e4cd);
	background-image: linear-gradient(to bottom, #d3e4cd, #d3e4cd);
	text-decoration: none;
	color: #ffffff;
}
